.App {
    text-align: center;
}

#particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}
.chart {
    background-color: rgba(255, 255, 255, 0.85);
}

.nav {
    background-color: rgba(255, 255, 255, 0.05);
}
